### Vue template
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?

node_modules
test.js
gen_test.js
src/mapper/test.js
test
.gitignore
public
db.js
dbPhp.js
GlobalConfig.json
ctServer.zip
备注.txt
